<%- include('../partials/header') %>

  <h2>Skills as of : <span id="date"><%= time %></span></h2>
  <div id="table-container">
  <table>
    <thead>

    </thead>
    <tbody>
      <% skills.forEach(function(s) { %>
        <tr>
          <td class="skills"><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
          <td>
            <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
              <button type="submit" id="delete-button">X</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>