<%- include('../partials/header') %>

  <h1 id="skills-title">Stefan's Amazing Dev Skills</h1>
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Skills as of: <%= time %></th>
      </tr>
    </thead>
    <tbody>
      <% skills.forEach(function(s) { %>
        <tr>
          <td><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
          <td>
            <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-danger">X</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>